PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rss
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=rss-auth-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
SUPERADMIN_EMAIL=harish@emeelan.com
SUPERADMIN_PASSWORD=welcome
SUPERADMIN_FIRST_NAME=Harish
SUPERADMIN_FATHER_NAME=Muleva
SUPERADMIN_GOTRA=Muleva
SUPERADMIN_DOB=1990-01-01
ABLY_API_KEY=
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
